CONFIG_LWIP_DHCP_DOES_ACD_CHECK=y
# CONFIG_LWIP_DHCP_DOES_ARP_CHECK is not set
CONFIG_LWIP_AUTOIP=y
CONFIG_LWIP_DEBUG=y
CONFIG_OPENER_ACD_CUSTOM_TIMING=y
CONFIG_OPENER_ACD_PROBE_WAIT_MS=0
CONFIG_OPENER_ACD_PROBE_MIN_MS=20
CONFIG_OPENER_ACD_PROBE_MAX_MS=20
CONFIG_OPENER_ACD_PROBE_NUM=1
CONFIG_OPENER_ACD_ANNOUNCE_NUM=1
CONFIG_OPENER_ACD_ANNOUNCE_INTERVAL_MS=20
CONFIG_OPENER_ACD_ANNOUNCE_WAIT_MS=20